:root {
  --vh: 100vh;
}

:root.light {
  --accent-color: #FF5722;
  --body-bgc: aliceblue;
  --font-collor-default: #000;
  --wa-color: #fff;
  --nav-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
  --fot-nav-btn-color: rgba(0,0,0,0.5);
  --fot-nav-btn-bgc: #f1f5f6;
  --content-bgc: #fff;
  --content-txt-color: #000;
  --content-txt-color-gray: rgba(0,0,0,0.5);
  --nav-gbc: #673AB7;
  --collapse-menu-bgc: #f1f5f6;
  --switch-bgc: rgba(34, 31, 31, 0.26);
  --switch-before-bgc: #F1F1F1;
  --switch-before-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.2);
  --sinput-checked-bgc: rgba(255, 87, 34, 0.4);
  --dropdown-shadow-color: rgba(0, 0, 0, 0.3);
  --select-hover: #eee;
  --transition: background-color .7s ease, color .7s ease;
}

:root.dark {
  --accent-color: #FF5722;
  --body-bgc: #252525;
  --font-collor-default: #fff;
  --wa-color: #fff;
  --nav-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.24);
  --fot-nav-btn-color: #737373;
  --fot-nav-btn-bgc: #12121F;
  --content-bgc: #121212;
  --content-txt-color: #fff;
  --content-txt-color-gray: rgba(255, 255, 255, 0.5);
  --nav-gbc: #241144;
  --collapse-menu-bgc: #121212;
  --switch-bgc: rgba(224, 221, 221, 0.26);
  --switch-before-bgc: #1B1B1B;
  --switch-before-shadow: 0 0px 3px rgba(224, 221, 221, 0.5), 0 1px 1px rgba(0, 0, 0, 0.2);
  --sinput-checked-bgc: rgba(255, 87, 34, 0.4);
  --dropdown-shadow-color: rgba(255, 255, 255, 0.14);
  --select-hover: #4b4b4b;
  --transition: background-color .7s ease, color .7s ease;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--body-bgc);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../font/Roboto.woff") format("woff"), url("../font/Roboto.woff2") format("woff2");
  font-display: auto;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../font/Robotobold.woff") format("woff"), url("../font/Robotobold.woff2") format("woff2");
  font-display: auto;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../font/Robotolight.woff") format("woff"), url("../font/Robotolight.woff2") format("woff2");
  font-display: auto;
  font-weight: 300;
}

/*# sourceMappingURL=reset.css.map */
